.git
.github

node_modules

vendor

storage/logs

storage/framework/cache

storage/framework/sessions

storage/framework/views

storage/debugbar

tests

.env

docker-compose.yml

README.md

npm-debug.log

yarn.lock

bootstrap/cache/*
!bootstrap/cache/.gitignore
